@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
@import url('https://fonts.cdnfonts.com/css/nitti');
	font-family: 'coc';
	src: url(/fonts/supercell-magic-webfont.woff);
	font-weight: 900;
	font-style: normal;
}

:root {
	--foreground-rgb: 15, 17, 26;
	--background-rgb: 228, 230, 237;
}

@media (prefers-color-scheme: dark) {
	:root {
		/*--foreground-rgb: 228, 230, 237;*/
		--foreground-rgb: 228, 230, 237;
		--background-rgb: 15, 17, 26;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}

h1, h2, h3, h4, h5, h6, a {
	font-family: 'coc', sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}


.item {
	background-color: hsla(70, 2%, 52%, 40%);
	border-radius: 0.71rem;
	aspect-ratio: 3 / 4;
	object-fit: contain;
}

.block {
	width: min(100%, 50rem);
	margin-inline: auto;
	background-color: #cfcec7;
	padding: 1rem;
	border-radius: 0.71rem;
	box-shadow: inset 0 2px 0px 2px hsl(220 3% 15% / 40%);
}

.textshadow {
	text-shadow: 2px 2px #000;
}

.limitheader {
	width: min(100%, 50rem);
	margin-inline: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}