.main {
	min-width: 100%;
	min-height: 100vh;
	background-image: url('/wallpapers/main.webp');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	margin-top: 6rem;
	width: min(100% - 2rem, 75rem);
	margin-inline: auto;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

@media (width > 45rem) {
	.container {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}
}

@media (width > 55rem) {
	.container {
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
	}
}

@media (width > 75rem) {
	.container {
		grid-template-columns: repeat(4, 1fr);
		gap: 3rem;
	}
}